
  <div class="auth-page">
    <div class="container page">
      <div class="row">

        <div class="col-md-6 col-md-offset-3 col-xs-12">
          

          <h1 class="text-xs-center">{{isSignInForm ? 'Sign in' : 'Sign up'  }}</h1>
          <p class="text-xs-center">
            @if(isSignInForm){
              <a class="cursor-pointer" [routerLink]="'/register'">Need an account?</a>
            } @else {
              <a class="cursor-pointer" [routerLink]="'/sign-in'">Have an account?</a>
            }
          </p>

          <!--         <ul class="error-messages">
          <li>That email is already taken</li>
        </ul> -->

          <form autocomplete="off" [formGroup]="frmGrp" (ngSubmit)="onLoginRegisterUser()">
            @if(!isSignInForm){
              <fieldset class="form-group">
                <input class="form-control form-control-lg" formControlName="username" type="text" placeholder="Your Name" autocomplete="off" >
              </fieldset>
            }

            <fieldset class="form-group">
              <input class="form-control form-control-lg" formControlName="email" type="text" placeholder="Email" autocomplete="off">
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" formControlName="password" type="password" placeholder="Password" autocomplete="off">
            </fieldset>
            <button type="submit" class="btn btn-lg btn-primary pull-xs-right" [disabled]="frmGrp.invalid">
              {{ isSignInForm ? 'Sign In' : 'Sign Up'}}
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>


  <app-footer></app-footer>
