<app-header></app-header>

<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit </h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>



  <div class="container page">
    <div class="row">

      <div class="col-xs-12 col-md-9">
        <div class="feed-toggle ">
          <ul class="nav nav-pills outline-active">
            @if(userService.Token){
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Your Feed</a>
              </li>
            }
            <li class="nav-item">
              <a class="nav-link active" href="#">Global Feed</a>
            </li>
          </ul>
        </div>

        @if(articoli(); as articoliLocal){

        
          @for (articolo of articoliLocal.articles; track $index) {

            @defer (on viewport; on timer(5s)) {
              <app-post-preview [article]="articolo"></app-post-preview>
            } @placeholder {
              <p>Caricamento in corso</p>
            }

            
          }
        }
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="sidebar">
          <p>Popular Tags </p>

          <div class="tag-list">
            @for(tag of tagList(); track $index){
              <a (click)="filterByTag(tag)" class="label label-pill label-default">{{tag}}</a>
            }
            
            
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<app-footer></app-footer>
