// Bootstrap overrides
$headings-font-family:   'Merriweather Sans', sans-serif;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$brand-primary: #5CB85C;
$brand-danger:  #B85C5C;
$enable-flex:               true;
$enable-grid-classes:       true;

$font-family-logo:       'Titillium Web', sans-serif;
$navbar-padding-x: 0rem !important;
